<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FastFire</title>
    <link rel="stylesheet" href="~/app.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script src="./main.js"></script>
</head>

<body class="body">
    <script src="/app.js" charset="utf-8"></script>

    <div>
        <div id="home" class="app">
            <nav class="nav-bar__right">
                <a class="nav-bar__item" href="#home">Home</a>
                <a class="nav-bar__item" href="#about">About</a>
                <a class="nav-bar__item" href="#services">Services</a>
                <a class="nav-bar__item" href="#contact">Contact</a>
            </nav>
            <div class="hero-container">
                <img class="hero" src="./img/finallogo.svg" alt="company-logo">
            </div>
            <div class="scroll">
                <a href="#scroll">
                    <i class="fa fa-chevron-down" aria-hidden="true">
                    </i>
                </a>
            </div>
        </div>

        <div>
            <main class="full-page__content">
                <section class="hero-img">
                    <div>

                    </div>
                </section>
            </main>
        </div>
    </div>

    <div class="main-content">
        <h1 class="main-content__header" id="scroll"></h1>

        <main>
            <h2 id="about">About</h2>
            <p>FAST Fire is an independent life safety company dedicated to bringing you the best quality service
                possible
                for your fire alarm needs including: fire alarm system inspections, repairs, tenant finish and system
                replacement. We specialize in the design,installation, and service of fire alarm and security systems.
            </p>
            <p>Our technicians are highly qualified, adept and courteous. They receive ongoing training in code changes,
                product developments, and new technologies to bring you the most up-to-date solutions in life safety.
            </p>
            <p>Free building surveys, as well as free quotes for inspections, repairs and tenant finish.</p>
            <p>Emergency service is available to our customers 24 hours a day, 7 days a week.</p>



            <section class="divider">
                <img class="about-img" src="http://www.placecage.com/100/100" alt="">
            </section>
            <h2 id="services">Services</h2>
            <div class="wrapper-services">
                <div class="services-card">
                    <div class="services-card_item">
                        Fire Alarm
                    </div>
                    <div class="services-card_item">
                        Area of Refuge
                    </div>
                    <div class="services-card_item">
                        Security
                    </div>
                    <div class="services-card_item">
                        Access Control
                    </div>
                    <div class="services-card_item">
                        Nurse Call
                    </div>
                    <div class="services-card_item">
                        CCTV
                    </div>
                </div>
            </div>
            <img class="contact-img" src="http://www.placecage.com/200/200" alt="">
            <h2 id="contact">Products We Use</h2>
            <div class="wrapper-products">
                <div class="products-card">
                    <div class="products-card_item">
                        Mircom
                    </div>
                    <div class="products-card_item">
                        Silent Knight
                    </div>
                    <div class="products-card_item">
                        Firelite
                    </div>
                    <div class="products-card_item">
                        Kidde (Logo)
                    </div>
                    <div class="products-card_item">
                        DMP (logo)
                    </div>
                    <div class="products-card_item">
                        Rath
                    </div>
                    <div class="products-card_item">
                        Ademco
                    </div>
                    <div class="products-card_item">
                        Bosch
                    </div>
                    <div class="products-card_item">
                        DSC
                    </div>
                    <div class="products-card_item">
                        Bogen
                    </div>
                    <div class="products-card_item">
                        AiPhone
                    </div>

                </div>
            </div>
            <div>
                <section class="full-page__content">
                    <section class="hero-img">
                        <div>

                        </div>
                    </section>
                </section>
            </div>
            <div class="main-content__bottom">
                <h2 id="contact">Contact</h2>


            </div>

        </main>
    </div>

    <footer class="bottom">
        <ol>
            <a href="https://maps.google.com/?q=7200 E Dry Creek Road Unit, G-207, Centennial, CO 80112">FAST Fire 7200
                E Dry
                Creek Road Unit G-207 Centennial, CO 80112</a>
            <li>NICET Certified</li>
            <li>Licensed, Bonded and Insured</li>
            <li>Factory trained technicians</li>
        </ol>
    </footer>
</body>

</html>

{{outlet}}
